.chat-center {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.chat-container {
    /* margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 2rem;
    margin-bottom: 1rem; */
    width: 600px;
    height: 80%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

    /* overflow: auto ; */
}

.chats {
    /* border: 2px solid red; */
    display: flex;
    background-color: white;
    padding: 0 1rem;
    height: 75vh;
    border-radius: .5rem;
    overflow-y: auto;
    overflow-anchor: none;
    flex-direction: column;
    /* display: flex; */
    /* flex-direction: column-reverse; */
    /* transform: rotate(180deg); */
    /* direction: rtl; */
    /* text-align: left; */
}

.mymessage {
    display: flex;
    justify-content: flex-end;

}


/* .chat-box input{
    width: 90%;
}
.chat-box button{
    width: 10%;
} */

.my-chat-boxes {
    background-color: #5fc9f8;
    width: fit-content;
    min-width: 2rem;
    border-radius: .5rem;
    padding: .5rem;
    min-height: 1rem;
}

.their-chat-boxes {
    background-color: rgb(230, 230, 230);
    width: fit-content;
    min-width: 2rem;
    border-radius: .5rem;
    padding: .5rem;
    min-height: 1rem;
}

.chat-box-form {
    display: flex;
    max-height: 225px;
    height: fit-content;
    /* background-color: red; */
}

.chat-box {
    /* border: 2px solid red; */
    display: flex;
    width: 100%;
    max-height: 150px;
    height: 100px;
    justify-content: space-between;
    align-items: flex-end;
}

.chat-box-textarea {
    display: flex;
    overflow-y: auto;
    resize: none;
    height: 80px;
    /* height: auto; */
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    padding: .55rem;
}

.submit-chat-button {
    border-radius: 5px;
    width: 50px;
    border: none;
    height: 50px;
    background-color: transparent;
    transition: color 0.2s ease;
}

.submit-chat-button:hover {
    color: #5fc9f8;
}
