.chat-center {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.chat-container {
    /* margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 2rem;
    margin-bottom: 1rem; */
    width: 600px;
    height: 80%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

    /* overflow: auto ; */
}

.chats {
    /* border: 2px solid red; */
    display: flex;
    background-color: white;
    padding: 0 1rem;
    height: 75vh;
    border-radius: .5rem;
    overflow-y: auto;
    overflow-anchor: none;
    flex-direction: column;
    /* display: flex; */
    /* flex-direction: column-reverse; */
    /* transform: rotate(180deg); */
    /* direction: rtl; */
    /* text-align: left; */
}

.mymessage {
    display: flex;
    justify-content: flex-end;

}


/* .chat-box input{
    width: 90%;
}
.chat-box button{
    width: 10%;
} */

.my-chat-boxes {
    background-color: #5fc9f8;
    width: fit-content;
    min-width: 2rem;
    border-radius: .5rem;
    padding: .5rem;
    min-height: 1rem;
}

.their-chat-boxes {
    background-color: rgb(230, 230, 230);
    width: fit-content;
    min-width: 2rem;
    border-radius: .5rem;
    padding: .5rem;
    min-height: 1rem;
}

.chat-box-form {
    display: flex;
    height: 300px;
    /* background-color: red; */
}

.chat-box {
    /* border: 2px solid red; */
    display: flex;
    height: fit-content;
    word-wrap: wrap;
    justify-content: flex-end;
}

.chat-box-textarea {
    display: flex;
    word-wrap: wrap;
    min-height: 100%;
    height: fit-content;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    padding: .25rem;
}

.submit-chat-button {
    border-radius: 5px;
    width: 150px;
    margin-left: 1rem;
    border: none;
    height: 50px;
    background-color:#5fc9f8;
}
