.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.fas.fa-paw {
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
}

ul {
  padding: 0;
  list-style-type: none;
}

.log-out-button {
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 4px;
}

.log-out-button:hover {
  background-color: rgba(211, 211, 211, 0.693);
}

.profile-dropdown {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  list-style: none;
  position: absolute;
  right: 0px;
  top: 72px;
  z-index: 9999;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  gap: 1rem;
  font-size: 12px;
  padding: 16px;
  list-style-type: none;
  margin: 0;
  width: fit-content;
  height: fit-content;
}

.nav-bar-center {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgray;

}

.nav-bar {
  display: flex;
  /* max-width: 1024px; */
  width: 100%;
  justify-content: space-between;
  padding-top: .5rem;
  z-index: 999
}

.logo-home {
  text-decoration: none;
}

.nav-links-on-navbar {
  text-decoration: none;
  color: black;
  margin: 0;
}

.other-nav-links {
  padding-right: 1rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  color: black;
}

.panda-png {
  width: 19rem;
}

.navbargreen {
  font-weight: 500;
}
