form.signupForm {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* gap:px; */
    /* max-height: fit-content; */
    max-height: fit-content;
    margin: 0px;
}

form.signupForm > h1 {
    margin: 0px;
}

.signupDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loginButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}