* {

}

.body-container {
    display: flex;
    justify-content: space-around;
    min-height: 500px;
}

#booking-form {
    max-width: 1150px;
    width: 100%;
    background-color: #a2d2ff;

}

h2 {
    padding-bottom: 20px;
}

h2, h3{
    margin: 0;
}


form {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px;
    justify-content: space-between
}

.errors {
    color: red
}

.border {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    border: solid 1px black;
    border-radius: 10px;
    background-color: #bde0fe;
    padding: 15px;
    margin: 10px 0;
}


.radio.duration-container {
    display:flex;
    flex-direction: column;
    align-content: space-between;
}

label {
    display: flex;
    gap: 10px;
    align-items:center;
    padding: 10px 0;
}

#category select {
    width: 100%;
    min-height: 25px;
    border-radius: 10px;
    padding: 8px;

}

#city select {
    width: 100%;
    min-height: 25px;
    border-radius: 10px;
    padding: 8px;

}

#duration.border {
    gap:5px
}


#details.border {
    height:fit-content;

}

#details > .border {
    background-color: white;
}

#details textarea {
    background: transparent;
    border: none;
    outline: none;
    width: 99%;
    min-height: 105px;
    height: 100%;
    resize: none;
    font-size: 18px;
}


.heading-error{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    align-items: center;
    padding-bottom: 10px;
}

.heading-text {
    padding-bottom: 25px
}


.center {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#booking-form button {
    width: 200px;
    border-radius: 20px;
    height: 43px;
    background-color: aquamarine;
}
